[
  {
    "name": "No input file: the \"files\" field is absent"
  },
  {
    "name": "No input file: the \"files\" field is an integer",
    "files": 42
  },
  {
    "name": "No input file: the \"files\" field is an empty array",
    "files": []
  },
  {
    "name": "No input file: the \"files\" field is an array of integers",
    "files": [ 41, 42, 43 ]
  },
  {
    "name": "No input file: the \"files\" field is an object",
    "files": { "field_name": "field_content" }
  },
  {
    "name": "Config error: TODO",
    "files": [ "src/main.c" ]
  },
  {
    "name": "Parsing error: no semicolon after a statement",
    "files": [ "src/parsing_error_1.c" ]
  },
  {
    "name": "Missing file: the file \"missing.c\" does not exist",
    "files": [ "src/missing.c" ]
  },
  {
    "name": "Missing file: two files, \"missing_1.c\" and \"missing_2.c\", do not exist",
    "files": [ "src/missing_1.c", "src/missing_2.c" ]
  },
  {
    "name": "Link error: global variable G is declared in two files with two incompatible types",
    "files": [ "src/global_G_int.c", "src/global_G_float.c", "src/main.c" ]
  },
  {
    "name": "No value analysis computation: \"-no-val\" option specified",
    "files": [ "src/main.c" ],
    "raw_options": { "-val": "false" }
  },
  {
    "name": "No value analysis results: \"-no-results\" option specified",
    "files": [ "src/main.c" ],
    "raw_options": { "-no-results": "true" }
  },
  {
    "name": "No entry point: entry point name default, no \"main\" function",
    "files": [ "src/f.c" ]
  },
  {
    "name": "No entry point: entry point name set to \"f\", no \"f\" function",
    "files": [ "src/main.c" ],
    "main": "f"
  },
  {
    "name": "Incorrect number of arguments: TODO",
    "files": [ "src/main.c" ]
  },
  {
    "name": "Unexpected error: TODO",
    "files": [ "src/main.c" ]
  }
]
